{% extends "core/base.html" %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'core/style.css'%}"/>

{% endblock head %}

{% block title %}About | FisherMen{% endblock title %}
{% block content %}
<div >
   <h4>Where to find FisherMan?</h4>
   <p>You can find Fisherman on:</p>
      <ul class="main">
         <li><a href="https://facebook.com/profile.php?id=100064233241347&mibextid=ZbWKwL" title="Facebook" target="_blank">Facebook</a></li>
         <li><a href="https://www.youtube.com/@Fishermenjnk"title="Youtube" target="_blank">Youtube</a></li>
         <li><a href="https://instagram.com/_fishermen_jnk?igsh=OGQ5ZDc2ODk2ZA==" title="Instagram" target="_blank">Instagram</a></li>
         <li><a href="https://tiktok.com/@fishermenjnk?_t=8nUThszBxH3&_r=1"title="TikTok" target="_blank">TikTok</a></li>
      </ul>
</div>
      <em>
         Don’t sit around waiting for a miracle. Punch above your weight that’s how you gain knowledge and experience.
      </em>
{% endblock content %}